
#addedquestions {
   float : left;
   width: 50%;
   
  
}

#allquestions {
   float : right;
   width: 50%;
     
} 
/*
#left { position: absolute; left: 0; top: 0; width: 50%; }
#right { position: absolute; right: 0; top: 0; width: 50%; }
*/
