<!DOCTYPE html>
<html>
   <head>
      <title>Welcome Student</title>
      <link rel="stylesheet" type="text/css" href="student.css">
   </head>
   <body>
      <div id="options">
         <!--
         <p>Take a test</p>
	 <p>See previous results</p>
	 <button type="button">Start Testing</button>
         -->
	 <form action="studentMain.php" method="get">
            <table>
               <tr>
	          <td>Take a test</td>
	       </tr>
	       <tr>
	          <td>See previous results</td>
	       </tr>
	       <tr>
	          <td><input type="submit" name="start_test_button" value="Start Testing"></td>
	       </tr>
	    <table>
	 </form>
	 
      </div>
      <?php
         include 'studentMain.php';
      ?>
   </body>
</html>
