/*
body{
   background: url('njitpic1.jpg') no-repeat center center fixed;
   background-size: cover;
}
*/

#wrapper {
   border: 5px dashed black;
   overflow: hidden;
}

/*
#wrapper div {
   min-height: 200px;
   padding: 10px;  
}
*/

#topbox {
   width: 250px;
   height: 150px;
   margin: auto;
   border: 5px solid red;
   background: red;
}

/*
*{
   border: 1px solid red !important;
}
*/
#availableTests {
   width: 250px;
   height: 150px;
   border: 5px solid purple;
   margin: auto;

}

#gradedTests {
   width: 250px;
   height: 150px;
   margin: auto;
   border: 2px dashed #ccc;
  
}

/*
.textInput {
   height: 100px;
   width: 300px;
}
*/
/*
@media screen and (max-width: 400px){
   #topbox{
      float: none;
      margin-right:0;
      width:auto;
      border: 0;
      border-bottom: 2px solid #000;
   }
}
*/
p {
   font-weight: bold;
}

