html{
   background: url("blacksmoke.gif") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

body{
   background-color: black;
   //padding: 0px;
   //margin: 0px;
}

#entry{
   background-color: rgba(255,0,0,0);
   color: white;
   text-align: center;
   position: absolute;
   height: 200px;
   width: 400px;
   margin: -100px 0 0 -200px;
   top: 50%;
   left: 50%;
}

form{
   /*
   width: 40%;
   padding: 30px; 
   margin: 5x auto;
   background-color: white;
   */
}

.textInput{
/*
	margin-top: 2px;
	height: 28px;
	border: 2px solid #5E6E66;
	font-size: 16px;
	padding: 1px;
	width: 100%;
*/
}

td {
	text-align: center;
}

