
.wrapper {
   border : 2px solid #000;
   overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}

#qbox {
   background-color: gray;
   float: left;
   margin-right: 20px;
   width: 140px;
   border-right: 2px solid #000;
}

#abox {
   background-color: white;
   overflow: hidden;
   margin: 10px;
   border: 2px dashed #ccc;
   min-height: 170px;
}

@media screen and (max-width: 400px){
   #qbox{
      float: none;
      margin-right:0;
      width:auto;
      border: 0;
      border-bottom: 2px solid #000;
   }
}

p {
   font-weight: bold;
}

