
.wrapper {
   border : 2px solid #000;
   overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}

#qbox {
   background-color: purple; /*#90C3D4;*/
   color: white;
   float: top;
   /*margin-right: 20px;*/
   margin: auto;
   width: 250px;
   height: 50px;
   /*border-right: 2px solid #000;*/
   box-shadow: 10px 10px 5px #888888;
   text-align: center;
}

#abox {
   background-color: white;
   overflow: hidden;
   margin: 10px;
   border: 2px dashed #ccc;
   min-height: 170px;
}

#exambox {
}

#left {
   float: left;
   width: 46%;
   border: dashed purple; /*#90C3D4;*/
}
#selected {
   width: 95%;
}
#right {
   float: right;
   width: 46%;
   border: dashed purple; /*#90C3D4;*/
}
.textInput {
   height: 50px;
   width: 200px;
}

/*
@media screen and (max-width: 400px){
   #qbox{
      float: none;
      margin-right:0;
      width:auto;
      border: 0;
      border-bottom: 2px solid #000;
   }
}
*/
p {
   font-weight: bold;
}

