.qbox {
   width: 300px;
   border: 5px solid blue;
   padding: 25px;
   margin: 25px;
   box-shadow: 10px 10px 5px #888888;
}
/*
.qbox input[type="text"] {
   height: 10px;
   width: 80px;
}

.qbox input[type="text"] {
   width: 200px;
}
*/
.answerbox {
   height: 1000px;
}

