<!DOCTYPE html>
<html>
   <head>
      <title>Get to Work</title>
      <link rel="stylesheet" type="text/css" href="test.css">
   </head>
   </body>
     
         <div id="qbox">
            <p>Test Page</p>
            <table>
               <form>
	          <input type='text' name="question" placeholder="question"/><br>
		  <textarea type='text' name="answer"
		  placeholder="your answer"></textarea><br>
		  <button>Submit answer</button>
		  <button>clear answer</button><br>
	       </form>
	    </table>
         </div>
     
   </body>
</html>
